@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,700;1,700&family=Zen+Dots&display=swap');
:root{
    --cor-inicial: rgb(20, 85, 100);
    --cor-inicial-dark: rgb(10, 50, 55);
}
*{
    box-sizing: border-box;
    outline:0;
}
body {
    background: var(--cor-inicial);
}
.container { 
    max-width: 60vw;
    margin: 0 auto;
    font-family: 'Zen Dots', cursive;
    font-size: 1.2em;
    line-height: 1.7em;
    background: antiquewhite;
    padding: 20px;
    border-radius: 3px;
}
#tabela{
    display: flex;
    justify-content: space-around;
    
}

.formulario{
    display: flex;
    flex-direction: column;
    
}
.formulario input, .formulario button {
    margin: 10px 0;
    border-radius: 5px;
}
.formulario input:focus {
    outline: 1px solid var(--cor-inicial);
}
.formulario input{
    font-size: 1em;
    font-family: 'Zen Dots', cursive;
}
.formulario button{
    background: var(--cor-inicial);
    color: white;
    font-family: 'Zen Dots', cursive;
    font-size: 1em;
    padding: 10px 0;
    cursor: pointer;
}
.formulario button:hover {
    background: var(--cor-inicial-dark);
}
.paragrafo-resultado{
    background: rgb(93, 255, 93);
}
.paragrafo-resultado-errado{
    background: rgb(255, 63, 63);
}
@media (max-width: 960px) {
    .container{
        font-size: 0.9em;
    }
}
@media (max-width: 760px) {
    .container{
        font-size: 0.7em;
    }
}
@media (max-width: 560px) {
    .container{
        font-size: 50%;
    }
}
@media (max-width: 370px) {
    .container{
        font-size: 30%;
    }
}
@media (max-width: 270px) {
    .container{
        font-size: 20%;
    }
}